doctype html
html
    head
        <script src="https://kit.fontawesome.com/3c5f9511a4.js" crossorigin="anonymous"></script>
        title Wetube
    body
        include ../partials/header
        main
            block content
        include ../partials/footer